<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.carrotMarket.chatMessage.dao.ChatMessageDAO">
 	<insert id="insertChatMessage" parameterType="map">
 		INSERT INTO `chat`
 		(
	 		`chatRoomId`
			,`sellerId`
			,`buyerId`
			,`nickname`
			,`profileImageUrl`
			,`chatContent`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{chatRoomId}
 			, #{sellerId}
 			, #{buyerId}
 			, #{nickname}
 			, #{profileImageUrl}
 			, #{chatContent}
 			, NOW()
 		)
 	</insert>
 	
 	<select id="selectChatMessageByChatRoomId" parameterType="int" resultType="com.carrotMarket.chatMessage.model.ChatMessage">
 		SELECT
 			`id`
 			,`chatRoomId`
			,`sellerId`
			,`buyerId`
			,`nickname`
			,`profileImageUrl`
			,`chatContent`
			,`createdAt`
		FROM
			`chat`
		WHERE
			`chatRoomId` = #{chatRoomId}
 	</select>
 </mapper>