<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.carrotMarket.chatRoom.dao.ChatRoomDAO">
 	<select id="selectChatRoom" parameterType="int" resultType="com.carrotMarket.chatRoom.model.ChatRoom">
 		SELECT
 			`id`
			,`usedGoodsId`
			,`sellerId`
			,`buyerId`
			,`sellerNickname`
			,`sellerProfileImageUrl`
			,`buyerNickname`
			,`buyerProfileImageUrl`
			,`usedGoodsImageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`chat_room`
		WHERE
			`id` = #{chatRoomId}
 	</select>
 </mapper>