<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.carrotMarket.chatRoom.dao.ChatRoomDAO">
 	<select id="selectChatRoomByChatRoomId" parameterType="int" resultType="com.carrotMarket.chatRoom.model.ChatRoom">
 		SELECT
 			`id`
			,`usedGoodsId`
			,`sellerId`
			,`buyerId`
			,`sellerNickname`
			,`sellerProfileImageUrl`
			,`buyerNickname`
			,`buyerProfileImageUrl`
			,`usedGoodsImageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`chat_room`
		WHERE
			`id` = #{chatRoomId}
 	</select>
 	
 	<select id="selectChatRoomByUsedGoodsIdSellerIdBuyerId" parameterType="map" resultType="com.carrotMarket.chatRoom.model.ChatRoom">
		SELECT
 			`id`
			,`usedGoodsId`
			,`sellerId`
			,`buyerId`
			,`sellerNickname`
			,`sellerProfileImageUrl`
			,`buyerNickname`
			,`buyerProfileImageUrl`
			,`usedGoodsImageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`chat_room`
		WHERE
			`usedGoodsId` = #{usedGoodsId}
			AND `sellerId` = #{sellerId}
			AND `buyerId` = #{buyerId}
 	</select>
 	
 	<select id="selectChatRoomListByUserId" parameterType="int" resultType="com.carrotMarket.chatRoom.model.ChatRoom">
 		SELECT
 			`id`
			,`usedGoodsId`
			,`sellerId`
			,`buyerId`
			,`sellerNickname`
			,`sellerProfileImageUrl`
			,`buyerNickname`
			,`buyerProfileImageUrl`
			,`usedGoodsImageUrl`
			,`createdAt`
			,`updatedAt`
		FROM
			`chat_room`
 		WHERE
 			`sellerId` = #{userId}
 			OR `buyerId` = #{userId}
 		ORDER BY `id` DESC
 	</select>
 	
 	<select id="selectChatRoomCountByUsedGoodsId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
			`chat_room`
		WHERE
			`usedGoodsId` = #{usedGoodsId}
 	</select>
 	
 	<insert id="insertChatRoom" parameterType="map" 
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `chat_room`
 		(
 			`usedGoodsId`
			,`sellerId`
			,`buyerId`
			,`sellerNickname`
			,`sellerProfileImageUrl`
			,`buyerNickname`
			,`buyerProfileImageUrl`
			,`usedGoodsImageUrl`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{usedGoodsId}
 			, #{sellerId}
 			, #{buyerId}
 			, #{sellerNickname}
 			, #{sellerProfileImageUrl}
 			, #{buyerNickname}
 			, #{buyerProfileImageUrl}
 			, #{usedGoodsImageUrl}
 			, NOW()
 			, NOW()
 		)
 		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
 	</insert>
 	
 	<update id="updateChatRoomBySellerId" parameterType="map">
 		UPDATE `chat_room`
 		SET
 			`sellerNickname` = #{nickname}
 			,`sellerProfileImageUrl` = #{ImageUrl}
 			,`updatedAt` = NOW()
 		WHERE
 			`sellerId` = #{userId}
 	</update>
 	
 	<update id="updateChatRoomByBuyerId" parameterType="map">
 	 	UPDATE `chat_room`
 		SET
 			`buyerNickname` = #{nickname}
 			,`buyerProfileImageUrl` = #{ImageUrl}
 			,`updatedAt` = NOW()
 		WHERE
 			`buyerId` = #{userId}
 	</update>
 </mapper>